<% provide(:page_title,"Thank you" ) %>
<div class="jumbotron">
  <div class="container">
    <h1>Thank you!</h1>
    <p>We have received your message and will respond as soon as possible.</p>
    <p>
    <%= link_to 'Back', root_path, class: "btn btn-primary" %></p>
  </div>
</div>


