<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-commenting-o">
        <span id="unseen-conversations"></span>
    </i>
    Messaging <!-- <span class="badge">2</span> -->
</a>

<ul class="dropdown-menu">
    <% @all_conversations.each do |conversation| %>
        <%= render partial: conversation_header_partial_path(conversation),
                locals: { conversation: conversation, 
                            user_id: current_user.id } %>
    <% end %>
</ul><!-- dropdown-menu -->